$color-one: #545454;
$color-two: #fed136;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: #fff;
    color: $color-one;
    font-size: 18px;
    line-height: 1.5;
}

section {
    padding: 96px 0;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/pexels-pixabay-157888.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .nav-content {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul {
        list-style-type: none;
        margin-top: 0;
        font-size: 18px;
        text-align: right;

        li {
            display: inline;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    h1 {
        font-size: 75px;
    }

    p {
        font-size: 35px;
    }

    button {
        font-size: 25px;
        padding: 20px 30px;
        color: #fff;
        background-color: $color-two;
        border: none;
        border-radius: 5px;
    }
}

h2 {
    font-size: 50px;
    margin-bottom: 6px;
    line-height: 1;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.description {
    color: rgb(191, 189, 189);
    font-size: 20px;
    margin-bottom: 70px;
    margin-top: 0;
}

.services i {
    color: $color-two;
    font-size: 40px;
    padding: 15px;
    border: 5px solid $color-two;
    border-radius: 50%;
}

.portfolio {

    background: rgb(244, 243, 243);

    .row {
        margin-bottom: 20px;
    }

    .portfolio-card {
        display: flex;
        flex-direction: column;
        height: 400px;

        .portfolio-description {
            font-size: 25px;
            margin: 15px auto 0 auto;
            line-height: 1;
        }

        .signature {
            font-style: italic;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
    }
}

footer {

    margin: 20px auto;

    .row {
        display: flex;
        align-items: center;
    }

    .footer-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: none;
        color: #fff;
        background: $color-one;
        border-radius: 50%;
        margin: auto 5px;

        i {
            text-align: center;
            line-height: 40px;
        }
    }
}